a {
	outline: none;
}

.td-btn {
	text-align: right;
	button {
		width: 100px;
	}
}

.preloader {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(57,63,76,.4);
	text-align: center;
	img {
		margin-top: calc(100vh / 2 - 32px);
	}
}